button{
  width: 110px;
}

div{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ombra{
  text-shadow: 2px 2px 2px white;
}

.corpo{
  display: flex;
  gap: 10px;
}

.titolo{
  font-family: 'Macondo', cursive;
}
